"# Build directories" 
"build/" 
"*/build/" 
"CMakeFiles/" 
"CMakeCache.txt" 
"cmake_install.cmake" 
"Makefile" 
"*.sln" 
"*.vcxproj" 
"*.vcxproj.filters" 
"*.vcxproj.user" 
"x64/" 
"Debug/" 
"Release/" 
".vs/" 
"*.user" 
